:root{
  background-color: #363945;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
}

.fiveDayForecastText{
  margin-left: 45px;
}

header {
    background-color: #EFE1CE;
    color: black;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    margin: 0%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .search-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;
  }

  h1.searchForCity{
    font-size: 30px;
    margin-left: 25px;
  }

  #searchInput{
    background-color: #EFE1CE;
    color: black;
    border-radius: 6px;
    padding: 5px;
    font-size: 17px;
  }

  button{
    background-color: #EFE1CE;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 17px;
  }

  .line {
    border-bottom: 1px solid black;
    margin-top: 15px;
  }

.forecastBoxes{
    flex-direction: row;
    display: flex;
    justify-content: space-around; 

}

.cityForecast {
    border: 3px solid black;
    width: 59%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
  }


.box{
background-color: #EFE1CE;
padding: 10px;
width: 130px
}

.fiveDayForecast {
    margin-left: 22.9%;
    width: 65%;
    
  }

  .citySearch {
    float: left;
    width: 25%;
  }
